doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title yHack
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/jquery-ui.css')
    link(rel='stylesheet' href="/css/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet' href="/css/font-awesome/css/font-awesome-ie7.min.css")
    link(rel="stylesheet" href="/css/styles.css")

  body
    #header


    script(src='/js/jquery-1.9.1.min.js')
