doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Learnio
    link(rel="stylesheet" href="/styles/styles.css")

    link(rel="stylesheet" href="/styles/component.css")
    link(rel="stylesheet" href="/styles/default.css")

  body
    
    div.topspace
    div.topspace
    div.topspace

    .main.clearfix
        form1#nl-form.nl-form
            | I would like to learn 
            select 
              option(value='1', selected='selected') Spanish
              option(value='2') Indian
              option(value='3') French
              option(value='4') Japanese
              option(value='2') Italian
            br
            | Sign up with Facebook to start now
            .nl-submit-wrap
              button.nl-submit#fbgraph Start learning
            .nl-overlay
            
    script(src='http://connect.facebook.net/en_US/all.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/arbor.js')
    script(src='/js/arbor-tween.js')
    script(src='/js/arbor-graphics.js')
    script(src='/js/sigma.min.js')
    script(src='/js/main.js')
    script(src='/js/fbgraph.js')
    script(src='/js/asl.js')

    script(src='/js/nlform.js')
    script(src='/js/modernizr.custom.js')


