doctype 5
html(lang="en")
	head
		meta(charset="utf-8")
		title Learnio
		link(rel="stylesheet" href="/styles/styles.css")


		link(rel="stylesheet" href="/styles/bootstrap.min.css")
		link(rel="stylesheet" href="/styles/bootstrap-theme.min.css")

		link(rel="stylesheet" href="/styles/component.css")
		link(rel="stylesheet" href="/styles/default.css")

	body
	

		#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4#myModalLabel.modal-title ASL Translation
					.modal-body
						video#asl
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button') Save changes

		a(asl="hello") Hello ASL
		
		div.topspace
		div.topspace
		div.topspace

		.main.clearfix
			form1#nl-form.nl-form
				| I would like to learn 
				select 
					option(value='es', selected='selected') Spanish
					option(value='fr') French
					option(value='ru') Russian
					option(value='ja') Japanese
					option(value='it') Italian
				br
				| Sign up with Facebook to start now
				.nl-submit-wrap
					button.nl-submit#fbgraph Start learning
				.nl-overlay

		ul.sidebar.hide#list
			li: a(node="math") Math

		div.sigma#sig.hide
		

	script(src='http://connect.facebook.net/en_US/all.js')
	script(src='/socket.io/socket.io.js')
	script(src='/js/jquery-1.9.1.min.js')
	script(src='/js/bootstrap.min.js')

	script(src='/js/sigma.min.js')
	script(src='/js/main.js')
	script(src='/js/fbgraph.js')
	script(src='/js/asl.js')

	script(src='/js/nlform.js')
	script(src='/js/modernizr.custom.js')
	script(src='/js/sigmaTest.js')



