doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Learnio
    link(rel='stylesheet' href='/styles/bootstrap.min.css')
    link(rel='stylesheet' href='/styles/jquery-ui.css')
    link(rel='stylesheet' href="/styles/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet' href="/styles/font-awesome/css/font-awesome-ie7.min.css")
    link(rel="stylesheet" href="/styles/styles.css")

  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div#logo
            | Learnio

    div.topspace
    div.centered.row
        p.lead
            | Input topic you are interested in

        form#bing-search
            div.input-append
                input.input-xlarge(type="text" placeholder="e.g. recursion")
                button.btn(type="submit")
                    | Search


  
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/main.js')
    script(src='js/arbor.js')
    script(src='js/arbor-tween.js')

