body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}

#logo {
	color: #fff;
	font-weight: 100;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 10px;
	font-size: 18px;
}

ul.sidebar {
	position: absolute;
	width: 210px;
	height: 100%;
	background-color: rgba(135, 194, 248, 0.09);
	z-index: 100;
	margin: auto;
	overflow: scroll;
	padding: 0;
	_text-shadow: 0 1px 0 #fff;
	list-style: none;
	}

ul.sidebar li {
	position: relative;
	display: block;
	min-height: 42px;
	margin: 0;
	border-top: 1px solid #263D49;
	border-bottom: 1px solid #465668;
}

ul.sidebar li a {
	display: block;
	color: #BDC1CA;
	padding: 10px 20px;
	cursor: pointer;
	height: 42px;
	background: rgba(236, 236, 236, 0.16);
}

ul.sidebar li a:hover{
	text-decoration: none;
	background-color:#5A5D61;
}

.sigma {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: #222;
	_background: #d1e1f1;
	width: 100%;
	height: 100%;
	min-height: 200px;
	top: 0;
	left: 0;
}
.text-center {
	text-align: center;
	font-weight: 100;
	font-size: 36px;
}

#fbgraph {
width: 300px;
margin: 6px;
margin-top: auto;
cursor: pointer;
}

.loader {
	width: 300px;
	margin-top: 60px;
}

#list {
width: 300px;
height: 100%;
}

.topspace {
	width: 100%;
	height: 50px;
}

.hide {
	visibility: hidden;
	display: none;
}

.translation {
	background: #50545E !important;
	overflow: hidden;
}